* {
    cursor: default;
}

*:focus {
    outline: 0;
}

body {
    font-family: "DejaVu Sans", sans-serif;
}

h1 {
    color: darkblue;
}

#head, #body, #buttons {
    margin-bottom: 10px;
}

#buttons > * {
    margin-left: 15px;
    display: inline;
}

textarea {
    resize: none;
    width: 95vw;
    height: 40vh;
    padding: 4px;
    border-radius: 5px;
}

#textarea {
    border: 1px solid lightblue;
    font-size: 1.5em;
}

#result {
    border: 1px solid black;

}

button {
    padding: 7px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1em;
}

button, input[type=checkbox] {
    cursor: pointer;
}

#clear {
    background-color: rgba(255, 0, 0, 0.85);
    border-color: darkred;
    color: white;
}

#execute {
    background-color: rgba(0, 128, 0, 0.85);
    border-color: darkgreen;
    color: white;
}