* {
    cursor: default;
}

*:focus {
    outline: 0;
}

body {
    font-family: "DejaVu Sans", sans-serif;
}

#head {
    height: 12%;
    margin-bottom: 10px;
}

#body {
    height: 80%;
    margin-bottom: 10px;
}

#foot {
    height: 5%;
}

textarea {
    resize: none;
    width: 95vw;
    height: 37vh;
    padding: 4px;
    border-radius: 5px;
}

#textarea {
    border: 1px solid lightblue;
}

#result {
    border: 1px solid black;
    background-color: white;
    color: black;
}

button {
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

button:active {
    background-color: lightgray;
    border-color: gray;
}