* {
    cursor: default;
}

*:focus {
    outline: 0;
}

body {
    font-family: "DejaVu Sans", sans-serif;
}

h1 {
    color: darkblue;
}

#head, #body, #buttons {
    margin-bottom: 10px;
}

#buttons > * {
    margin-left: 15px;
    display: inline;
}

textarea {
    resize: none;
    width: 95vw;
    height: 40vh;
    padding: 4px;
    border-radius: 5px;
    font-size: 1.5em;
    color: #0f1f1f;
}

#textarea {
    border: 1px solid lightblue;
}

#result {
    border: 1px solid grey;

}

button {
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
}

button:active {
    background-color: lightgray;
    border-color: gray;
}

button, button > *, input[type=checkbox], label {
    cursor: pointer;
}

#clear {
    background-color: rgba(255, 0, 0, 0.85);
    border-color: darkred;
    color: white;
}

#clear:active {
    background-color: rgba(139, 0, 0, 0.85);
    border-color: black;
}

#execute {
    background-color: rgba(0, 128, 0, 0.85);
    border-color: darkgreen;
    color: white;
}

#execute:active {
    background-color: rgba(0, 100, 0, 0.85);
    border-color: black;
}